dwg-message-dialog {
  #wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: 35vh;
    gap: 1em;
    max-height: 400px;
    max-width: 500px;
    min-height: 220px;
    min-width: 220px;
    width: 35vw;

    > #ok-button {
      color: black;
      margin-top: auto;
      padding: 0.3em 0.6em;
    }
  }
}

body.mobile {
  dwg-message-dialog {
    #wrapper {
      height: 50svh;
      width: 50vw;
    }
  }
}
