<div id="header">
  <div id="client-name">
    <span id="client-name-string"></span>
    <span id="client-ping"></span>
  </div>
  <div id="room-name"></div>
  <div id="game-name"></div>
  <div id="button-container">
    <button id="button-game-info"></button>
    <button id="button-lobby-clients"></button>
    <button id="button-exit"></button>
  </div>
</div>
<div id="waiting-room">
  <div id="players-waiting"></div>
</div>
<div id="game-container"></div>
<div id="chatbox-container">
  <dwg-chatbox id="chatbox"></dwg-chatbox>
</div>