<div id="header">
  <div id="client-name">
    <span id="client-name-string"></span>
    <span id="client-ping"></span>
  </div>
  <div id="room-name"></div>
  <div id="game-name"></div>
  <div id="button-container">
    <button id="button-game-info">
      <img src="../../images/icons/question18.png" alt="rename" draggable="false">
    </button>
    <button id="button-game-history">
      <img src="../../images/icons/lines18.png" alt="rename" draggable="false">
    </button>
    <button id="button-room-players">
      <img src="../../images/icons/person18.png" alt="players" draggable="false">
    </button>
    <button id="button-fullscreen">
      <img id="maximize-img" src="../../images/icons/maximize18.png" alt="fullscreen" draggable="false">
      <img id="minimize-img" src="../../images/icons/minimize18.png" alt="fullscreen" draggable="false">
    </button>
    <button id="button-exit">
      <img src="../../images/icons/close18.png" alt="close" draggable="false">
    </button>
  </div>
</div>

<div id="waiting-room">
  <div id="players-waiting"></div>
</div>

<div id="game-container"></div>

<div id="chatbox-container">
  <dwg-chatbox id="chatbox" class="transparent-fade"></dwg-chatbox>
  <button id="open-chatbox-button">
    <img src="../../images/icons/chat32.png" alt="chat" draggable="false">
  </button>
</div>