<div id="room-header">
  <button id="rename-room">
    <img src="../../../images/edit28.png" alt="rename" draggable="false">
  </button>
  <button id="cancel-rename">cancel</button>
  <div id="room-name"></div>
  <input id="rename-input" placeholder="room name">
  <button id="leave-room">
    <img src="../../../images/close28.png" alt="close" draggable="false">
  </button>
</div>
<div id="room-body">
  <div id="left-panel">
    <div id="game-settings"></div>
    <div id="user-list">
      <div id="host-label">Host</div>
      <div id="host-container"></div>
      <div id="players-label">Players</div>
      <div id="players-container"></div>
    </div>
  </div>
  <dwg-chatbox id="chatbox"></dwg-chatbox>
</div>