
dwg-canvas-board {
  background-color: black;
  border: 1px solid white;
  box-sizing: border-box;
  cursor: none;
  display: block;
  overflow: hidden;

  #canvas {
    --h: 0px;
    --w: 0px;
    height: var(--h);
    position: relative;
    width: var(--w);
  }
}
