dwg-space-dialog {
  #wrapper {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: var(--h);
    gap: 1em;
    padding: 0 !important;
    width: var(--w);

    > #close-button {
      --size: 36px;
      right: 0;
      margin: 0;
      padding: 4px;
      position: absolute;
      top: calc(-1 * var(--size));
    }
  }
}
