<div id="wrapper">
  <button id="close-button">
    <img src="../../../images/icons/close18.png" alt="close" draggable="false">
  </button>
  <div id="content">
    <div id="room-title" class="size-larger"></div>
    <div id="game-title" class="size-medium"></div>
    <div id="num-players" class="size-medium">
      Players: <span id="num-players-current"></span>/<span id="num-players-max"></span>
    </div>
    <div id="settings-label" class="size-large">Settings:</div>
    <div id="game-specific-settings"></div>
    <div id="description-label" class="size-large">Description:</div>
    <div id="room-description" class="size-small"></div>
  </div>
</div>
