dwg-game-history-dialog {
  #wrapper {
    --button-size: 36px;
    align-items: center;
    background-color: rgb(100, 100, 100);
    border-radius: 8px;
    color: white;
    height: 80vh;
    max-height: 1200px;
    max-width: 800px;
    min-height: 300px;
    min-width: 250px;
    padding: var(--font-size-medium);
    position: relative;
    width: 80vw;

    #close-button {
      background-color: transparent;
      border: none;
      border-radius: 0px;
      border-top-right-radius: 8px;
      height: var(--button-size);
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: var(--button-size);

      &:hover {
        background-color: rgba(255, 100, 100, 0.6);
      }

      &:active {
        background-color: rgba(255, 180, 180, 0.8);
      }
    }

    #updates-container {
      --margin-top: calc(6px + var(--button-size) - var(--font-size-medium));
      display: flex;
      flex-flow: column nowrap;
      gap: var(--font-size-small);
      height: calc(100% - var(--margin-top));
      margin-top: var(--margin-top);
      overflow-y: auto;
      width: 100%;
    }
  }
}

body.mobile {
  dwg-game-history-dialog {
    #wrapper {
      height: 80svh;
    }
  }
}
