dwg-lobby {
  --name-header-height: 30px;
  --buttons-height: 50px;
  --chat-height: 250px;
  background-color: rgb(20, 60, 120);
  display: flex;
  flex-flow: column nowrap;

  #name-header {
    background-color: rgb(0, 30, 60);
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    height: var(--name-header-height);
    line-height: var(--name-header-height);
    max-height: var(--name-header-height);
    min-height: var(--name-header-height);
    padding-left: 1.5em;
    width: 100%;
  }

  #buttons {
    background-color: rgb(10, 50, 100);
    border-bottom: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    height: var(--buttons-height);
    max-height: var(--buttons-height);
    min-height: var(--buttons-height);
    width: 100%;

    > button {
      background-color: transparent;
      border: none;
      border-radius: 16px;
      color: white;
      font-size: 20px;
      padding: 8px;
      transition:
        background-color 200ms,
        border-radius 200ms;

      &:hover:not(:disabled) {
        background-color: rgba(50, 100, 200, 0.2);
      }

      &:active:not(:disabled) {
        background-color: rgba(70, 140, 250, 0.4);
        border-radius: 0px;
      }

      &:disabled {
        background-color: rgba(150, 150, 150, 0.6);
        border-radius: 8px;
        transition: none;
      }
    }
  }

  #room-container {
    --padding: 12px;
    --width: calc(100% - 2 * var(--padding));
    flex: 1 0 0;
    max-width: var(--width);
    min-width: var(--width);
    padding: var(--padding);
    width: var(--width);
  }

  #chat-container {
    background-color: rgb(200, 200, 200);
    color: black;
    height: var(--chat-height);
    max-height: var(--chat-height);
    min-height: var(--chat-height);
    padding: 12px;
  }
}