<span id="page-header">
  <span id="name-container"></span>
  <span id="ping-container"></span>
</span>
<span id="buttons">
  <button id="refresh-lobby-button">Refresh</button>
  <button id="create-room-button">Create Room</button>
</span>
<span id="horizontal-container">
  <span id="vertical-container">
    <dwg-lobby-rooms id="lobby-rooms"></dwg-lobby-rooms>
    <dwg-chatbox id="chatbox"></dwg-chatbox>
  </span>
  <dwg-lobby-users id="lobby-users"></dwg-lobby-users>
</span>
<div id="lobby-room-wrapper">
  <dwg-lobby-room id="lobby-room"></dwg-lobby-room>
</div>
<div id="lobby-connected-wrapper">
  <div>Connecting ...</div>
</div>