dwg-chatbox {
  --input-box-height: calc(2 * var(--font-size-medium));
  --gray-color: rgb(100, 100, 100);

  background-color: rgb(200, 200, 200);
  color: black;
  display: block;
  height: 100%;
  width: 100%;

  #chat-container {
    display: flex;
    flex-flow: column nowrap;
    font-size: var(--font-size-small);
    height: calc(100% - var(--input-box-height));
    overflow-wrap: anywhere;
    overflow-y: scroll;
    width: 100%;
    word-break: break-all;

    :first-child {
      margin-top: auto;
    }

    > *{
      margin-top: 0.3em;
      transition: background-color 1s;

      &.new-message {
        background-color: rgba(255, 255, 0, 0.4);
        transition: none;
      }

      &.color-gray {
        color: var(--gray-color);
      }
    }
  }

  #new-messages-container {
    height: 0;
    position: relative;
    width: 100%;

    #new-messages-button {
      --width: max(130px, 20%);
      background-color: rgb(110, 140, 255);
      bottom: 0;
      border: 0px;
      border-radius: 1.6em;
      height: 1.5em;
      left: calc(50% - 0.5 * var(--width));
      margin: 0;
      padding: 0;
      position: absolute;
      width: var(--width);

      &:not(.show) {
        display: none;
      }

      &:hover {
        background-color: rgb(130, 160, 255);
      }

      &:active {
        background-color: rgb(90, 110, 240);
      }

      #new-messages-number {
        font-weight: bold;
      }

      &.new-message {
        font-weight: bolder;

        #new-messages-number {
          font-weight: bolder;
        }
      }
    }
  }

  #input-container {
    --margin: 8px;
    --send-button-width: calc(2.2 * var(--input-box-height));
    display: flex;
    flex-flow: row nowrap;
    height: var(--input-box-height);
    width: 100%;

    > * {
      box-sizing: border-box;
      height: calc(100% - var(--margin));
      margin-top: var(--margin);
    }

    #chat-input {
      font-size: var(--font-size-medium);
      flex: 0 0 calc(100% - var(--send-button-width) - 2px);
      line-height: var(--input-box-height);
      padding-left: 0.5em;
    }

    #send-chat {
      font-size: 1rem;
      margin-left: auto;
      width: var(--send-button-width);
    }
  }


  // Custom chatbox styles

  &.transparent-fade {
    background-color: transparent;
    color: white;

    #chat-container {
      background-color: rgba(80, 80, 80, 0.5);
      border-radius: 1em;
      box-sizing: border-box;
      line-height: 1.1em;
      padding: 1em;

      > * {
        transition: background-color 1s;

        &.new-message {
          background-color: rgba(70, 70, 70, 0.7);
          transition: none;
        }
      }
    }

    #input-container {
      background-color: transparent;

      #chat-input {
        background-color: rgba(90, 90, 90, 0.8);
        border: 1px solid white;
        color: white;
      }

      #send-chat {
        background-color: red;
        color: white;
      }
    }

    &:not(.show) {
      pointer-events: none;

      &.new-message {
        color: white;
      }

      &:not(.new-message) {
        color: transparent;
        transition: color 1.5s 2s;
      }

      #chat-container {
        background-color: transparent;
        scrollbar-width: none;
        transition: background-color 1s 0.1s;
      }

      #chat-container::-webkit-scrollbar { 
        display: none;
      }

      #new-messages-container {
        display: none;
      }

      #input-container {
        display: none;
      }
    }
  }
}