dwg-fiddlesticks {
  --height-players-cards: calc(182px); // cards are 125x182 here with a 6px top margin
  --width-messages: 180px; // width of messages and trump card
  --size-player: 130px; // size of player box around table
  --table-diameter: min(
    calc(var(--game-height) - var(--height-players-cards) - var(--size-player)),
    calc(var(--game-width) - 2 * var(--width-messages))
  );
  --table-diameter-padding: 0em;

  background-color: var(--color-background);
  display: block;
  height: 100%;
  position: relative;
  width: 100%;

  > #header-messages-container {
    --width: calc(var(--width-messages) - 2em);
    font-size: var(--font-size-medium);
    left: calc(0.5 * (100% - var(--table-diameter)) - var(--width-messages) + 1em);
    line-height: 1.7em;
    position: absolute;
    top: 1em;
    width: var(--width);

    > * {
      .span-align {
        display: inline-block;
        text-align: right;
        width: 50%;
      }

      .span-center {
        display: block;
        margin-top: 0.6em;
        text-align: center;
        text-decoration: underline;
      }
    }
  }

  > #trump-card-container {
    --line-height: 1.7em;
    --width: calc(var(--width-messages) - 2em);
    --height: calc(var(--line-height) + var(--card-image-scale) * var(--width));
    border-radius: 0.4em;
    left: calc(1em + 0.5 * (100% + var(--table-diameter)));
    line-height: var(--line-height);
    font-size: var(--font-size-medium);
    height: var(--height);
    position: absolute;
    text-align: center;
    top: 1em;
    width: var(--width);

    > #trump-text {
      border-radius: 0.4em;
      letter-spacing: 1.2px;
    }

    > #trump-card {
      height: calc(var(--card-image-scale) * var(--width));
      position: absolute;
      top: var(--line-height);
      width: var(--width);

      > #trump-card-img {
        height: 100%;
        width: 100%;

        &:not(.show) {
          display: none;
        }
      }
    }
  }

  > #table-container {
    background: no-repeat center url('../../../images/card_table1000.png');
    background-size: contain;
    height: var(--table-diameter);
    left: calc(0.5 * (100% - var(--table-diameter)));
    position: absolute;
    top: calc(0.5 * var(--size-player));
    width: var(--table-diameter);
  }

  > #player-container {
    height: var(--table-diameter);
    left: calc(0.5 * (100% - var(--table-diameter)));
    position: absolute;
    top: calc(0.5 * var(--size-player));
    width: var(--table-diameter);

    > dwg-fiddlesticks-player {
      --diameter: var(--table-diameter);
      --size: var(--size-player);
      height: var(--size);
      width: var(--size);
    }
  }

  > #players-cards {
    --width: min(calc(var(--table-diameter) + 2 * var(--width-messages)), 100%);
    height: var(--height-players-cards);
    left: calc(0.5 * (100% - var(--width)));
    position: absolute;
    top: calc(var(--size-player) + var(--table-diameter));
    width: var(--width);
    z-index: 4;
  }
}

body.mobile {
  dwg-fiddlesticks {
  }
}