dwg-fiddlesticks {
  #table-container {
    background-color: rgb(140, 70, 20);
    height: 50%;
    position: relative;
    width: 100%;

    #header-message {
      display: flex;
      flex-flow: row wrap;
      gap: 3em;
      left: 1em;
      position: absolute;
      top: 1em;
    }

    #trump-card-container {
      --width: calc(max(50px, min(200px, 15vw)));
      --height: calc(1.5em + var(--card-image-scale) * var(--width));
      height: var(--height);
      line-height: 1.5em;
      position: absolute;
      right: 4em;
      text-align: center;
      top: 2em;
      width: var(--width);

      #trump-card {
        height: calc(var(--card-image-scale) * var(--width));
        position: absolute;
        right: calc(50% - 0.5 * var(--width));
        width: var(--width);

        #trump-card-img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  #player-container {
    background-color: rgb(90, 90, 90);
    display: flex;
    flex-flow: row nowrap;
    gap: 3px;
    height: 50%;
    justify-content: center;
    width: 100%;

    > * {
      border: 1px solid black;
      flex: 1 1 0;
      height: 100%;
      max-width: 25vw;
    }
  }
}