dwg-fiddlesticks-player {
  // --table-diameter: 0; // set by component
  // --size: 0; // set by component
  --order: 0; // set by component
  --num-players: 0; // set by component
  --turns: calc((0.25 + var(--order) / var(--num-players)) * 1turn);
  --x: calc(0.5 * var(--diameter) * (1 + cos(var(--turns))) - 0.5 * var(--size));
  --y: calc(0.5 * var(--diameter) * (1 + sin(var(--turns))) - 0.5 * var(--size));
  background-color: lightblue;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4em;
  left: var(--x);
  position: relative;
  top: var(--y);
  z-index: 4;

  > * {
    padding-left: 0.3em;
    z-index: 2;
  }

  #name-container-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 0.4em;
    margin-bottom: 0.8em;

    #dealer-container:not(.show) {
      display: none;
    }
  }

  .fixed-width {
    display: inline-block;
    width: 30%;
  }

  #winner-icon {
    height: 64px;
    left: min(10%, 10px);
    opacity: 80%;
    position: absolute;
    rotate: -30deg;
    top: -48px;
    width: 64px;

    &:not(.show) {
      display: none;
    }
  }
}