dwg-fiddlesticks-player {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4em;
  position: relative;
  z-index: 2;

  > * {
    margin-left: 2px;
    z-index: 2;
  }

  #card-played-container {
    --width: calc(max(35px, min(150px, 12vw)));
    --height: calc(var(--card-image-scale) * var(--width));
    height: var(--height);
    left: calc(50% - 0.5 * var(--width));
    position: absolute;
    top: calc(-1 * var(--height));
    width: var(--width);
    z-index: 1;

    &:not(.show) {
      display: none;
    }

    #card-played {
      height: 100%;
      width: 100%;
    }
  }

  #card-played-coverer {
    background-color: rgb(90, 90, 90);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  #name-container-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 0.4em;
    margin-bottom: 0.8em;

    #dealer-container:not(.show) {
      display: none;
    }
  }

  .fixed-width {
    display: inline-block;
    width: 30%;
  }

  #cards-container {
    margin-top: 0.6em;

    .card {
      box-sizing: border-box;
      margin: 0.2em;
      padding-left: 1.5em;
      position: relative;
      user-select: none;

      .card-img {
        --width: calc(max(35px, min(150px, 12vw)));
        --height: calc(var(--card-image-scale) * var(--width));
        display: none;
        left: 5%;
        height: var(--height);
        position: absolute;
        top: 100%;
        width: var(--width);
      }
    }

    .card:hover {
      background-color: rgba(255, 255, 255, 0.15);

      .card-img {
        display: block;
      }
    }

    .card:active {
      background-color: rgba(255, 255, 255, 0.3);

      .card-img {
        display: block;
      }
    }
  }

  #betting-container {
    &:not(.show) {
      display: none;
    }
  }
}