dwg-lobby-users {
  display: flex;
  flex-flow: column nowrap;

  &.loading {
    > #user-container {
      display: none;
    }
  }

  &:not(.loading) {
    > #loading-message {
      display: none;
    }
  }

  > #header {
    height: 36px;

    #refresh-button {
      background-color: transparent;
      border: none;
      border-radius: 6px;
      height: 30px;
      margin: 0px;
      padding: 0px;
      position: relative;
      top: 3px;
      user-select: none;
      width: 30px;

      &:hover {
        background-color: rgba(180, 180, 180, 0.15);
      }

      &:active {
        background-color: rgba(180, 180, 180, 0.3);
      }

      #refresh-img {
        left: 3px;
        position: absolute;
        top: 3px;
        user-select: none;
      }
    }
  }

  > #loading-message {
    color: rgba(250, 250, 250, 0.9);
    font-size: var(--size-medium);
  }

  > #user-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0;

    .lobby-user {
      --height: var(--font-size-larger);
      width: 100%;
    }
  }
}