dwg-lobby-rooms {
  display: block;

  &.loading {
    > #room-container {
      display: none;
    }
  }

  &:not(.loading) {
    > #loading-message {
      display: none;
    }
  }

  > #user-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0;

    > .lobby-room {
      margin: 2px 0;
      width: 100%;
    }
  }
}