dwg-lobby-connector {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;

  &.hide {
    display: none;
  }

  #card {
    background-color: rgb(220, 220, 220);
    color: black;
    height: 200px;
    left: calc(50% - 100px);
    padding: 16px;
    position: relative;
    top: calc(50% - 150px);
    width: 300px;

    #nickname {
      font-size: var(--font-size-large);
      margin-top: 20px;
      width: 290px;
    }

    #connect-button {
      font-size: var(--font-size-large);
      margin-top: 50px;
      width: 290px;
    }
  }
}

body.mobile {
  dwg-lobby-connector {
    #card {
      box-sizing: border-box;
      left: 6px;
      width: calc(100% - 12px);

      #nickname {
        width: calc(100% - 24px);
      }
  
      #connect-button {
        width: calc(100% - 24px);
      }
    }
  }
}