dwg-lobby-connector {
  font-size: var(--font-size-large);
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;

  &.hide {
    display: none;
  }

  > #card {
    --width: calc(12 * var(--font-size-large));
    background-color: rgb(220, 220, 220);
    box-shadow: 0 0 8px 8px rgba(60, 60, 60, 0.7);
    color: black;
    height: calc(10 * var(--font-size-large));
    left: calc(50% - 100px);
    padding: 16px;
    position: relative;
    top: calc(50% - 150px);
    width: var(--width);

    button {
      font-size: var(--font-size-large);
      margin-top: 20px;
      width: var(--width);
    }

    > #reconnect-wrapper {
      &:not(.show) {
        display: none;
      }

      > #previous-nickname {
        height: calc(1.8 * var(--font-size-large));
        text-align: center;
      }

      > #new-connection-info {
        font-size: var(--font-size-small);
      }
    }

    > #connect-wrapper {
      &:not(.show) {
        display: none;
      }

      > #nickname {
        font-size: var(--font-size-large);
        margin-bottom: 30px;
        margin-top: 20px;
        width: var(--width);
      }
    }

    > #status-message {
      color: rgb(180, 40, 40);
      font-size: var(--font-size-small);
      margin-top: 0.5em;
      text-align: center;
    }
  }
}

body.mobile {
  dwg-lobby-connector {
    height: 100svh;

    #card {
      box-sizing: border-box;
      left: 6px;
      width: calc(100% - 12px);

      #nickname {
        width: calc(100% - 24px);
      }
  
      #connect-button {
        width: calc(100% - 24px);
      }
    }
  }
}