<div id="card">
  <div id="reconnect-wrapper">
    <div id="previous-nickname"></div>
    <button id="reconnect-button">Reconnect to Lobby</button>
    <div id="new-connection-info">
      If you prefer not to attempt a reconnect but instead want to start a new connection, click the button below
    </div>
    <button id="new-connection-button">New Connection</button>
  </div>
  <div id="connect-wrapper">
    <input id="nickname" placeholder="Nickname" />
    <button id="connect-button">Connect to Lobby</button>
  </div>
  <div id="status-message"></div>
</div>
